<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<title></title>
	<link href="../../css/mui.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="../../css/common.css" />
	<link rel="stylesheet" href="../../css/iconfont.css" />
	<style>
		body{background: #fff;}
	</style>
</head>

<body>
	<header class="mui-bar mui-bar-nav webview-bar">
		<a class="mui-icon mui-icon-left-nav mui-pull-left"></a>
		<h1 class="mui-title">服务条款</h1>
	</header>
	<div class="mui-content">
		<div class="term">
			<h1>选择佳用户服务协议</h1>
			<p>
				本协议自您完成在选择佳的注册流程时生效，与选择佳协议一并使用，您可以通过选择佳注册协议的引导在“选择佳”移动客户端内找到本协议。本协议自您完成在选择佳的注册流程时生效，与选择佳协议一并使用，您可以通过选择佳注册协议的引导在“选择佳”移动客户端内找到本协议。本协议自您完成在选择佳的注册流程时生效，与选择佳协议一并使用，您可以通过选择佳注册协议的引导在“选择佳”移动客户端内找到本协议。本协议自您完成在选择佳的注册流程时生效，与选择佳协议一并使用，您可以通过选择佳注册协议的引导在“选择佳”移动客户端内找到本协议。
			</p>
		</div>
	</div>
	
	<script src="../../js/mui.min.js"></script>
	<script>
	
	</script>
</body>

</html>